<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png" id="icon" alt="User Icon" />
            <h1>Broker ACID</h1>
        </div>

        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
            <input type="button" id="btnIngresar" class="fadeIn fourth" value="Ingresar">
        </form>

        <div id="formFooter">
             <a class="underlineHover" href="#">Ir a la pagina</a>
         </div>

    </div>
</div>